<h2>Activities</h2>
<ul class="list-group">
  <% @activities.each do |activity| %>
    <li class="list-group-item">
      <%= link_to activity.name, activity %>
      <span class="pull-right">
        <small>
          <%= "%0.2f" % activity.cycle_completion_hours %>
          /
          <%= "%0.2f" % activity.hours_per_cycle %>
          hours
        </small>
        <%= activity.cycle_completion_percentage.to_i %>%
      </span>
    </li>
  <% end %>
</ul>

<h2>Misc</h2>
<ul class="list-group">
  <li class="list-group-item">
    hallo
  </li>
</ul>